/data/ecoinvent/
/data/ecoinventJson/
/test/enbios2/test_project_fixture.py
/venv/
/.idea/
/data/temp/
/dist/enbios2-0.1.0.tar.gz
/dist/enbios2-0.1.0-py3-none-any.whl
/projects/
/enbios2.egg-info/
/.pypirc
/dist/
/enbios/enbios2.egg-info/
/venv_build/
/enbios/experiment/gnn/features/edges.jsonl
/enbios/experiment/gnn/features/names.jsonl
/enbios/experiment/gnn/features/product.jsonl
/enbios/experiment/gnn/base.py
/enbios/experiment/class_static_me.py
/data/databases/*
/data/logging.json
